:root {
  --btn-primary-width: 200px;
}

.btn-primary {
  background: var(--bs-indigo);
  border-color: var(--bs-indigo);
  width: var(--btn-primary-width);
}

.accordion-button::after {
  display: none;
}
.accordion-button {
  position: relative;
}

.accordion-button::before,
.accordion-button:not(.collapsed)::before {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  width: 10px;
  height: 10px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: translateY(-65%) rotate(45deg);
}


